body{
  background-color: #F0F0F0;
  background-image: url("img/back.png");
  background-repeat: repeat-x;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16pt;
  width: 100%;
  margin: 0;
}
a{
  color:#900000;
  text-decoration: none;
}
a:hover{
  color: #FFFFFF;
}
header{
  height: 40px;
  width: 100%;
  margin: auto;
  background-color: #900000;
  color: #F2F2F2;
  text-align: center;
  border-bottom: 1px solid #212121;
  outline: 1px solid #777777;
}
#logo{
  margin: 0;
  float: left;
  margin-left: 25%;
}
#menu{
  line-height: 44px;
  height:100%;
  text-align: left;
  margin-top: 0px;
}
#menu a{
  color:#F1F1F1;
  text-decoration: none;
}
#menu a:hover{
  color: #FFFFFF;
}
#menuitems{
  display: block;
  margin-top: 0px;
}
#menuitems li{
  display: inline-block;
  margin: 0 30px 10px 0;
}
#sub-header{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 24pt;
  margin-top: 40px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;
}
#main{
  background-color: #3d3d3d;
  color: #FEFEFE;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0px;
  padding-left: 30px;
  width: 50%;
  border: 2px solid white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}
#first{
  font-weight: bold;
  margin-bottom: 0px;
}
#sub{
  margin-top:5px;
  font-size: 15px;
}
.field { 
  overflow: auto;
  margin-bottom: 10px;
}

.field .label {
  float: left;
  width: 180px;
}
.submit{
  margin-left: 30%;
  margin-bottom: 10px;
}
em{
  font-size: 12px;
}
#blogs{
  margin: 0 auto;
  width: 70%;
}
@media screen and (max-width: 800px) {
  #menu{
    visibility: hidden;
  }
}