body{
  background-color: #FFFFFF;
  background-image: url("img/back.png");
  background-repeat: repeat-x;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16pt;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}
a{
  color:#900000;
  text-decoration: none;
}
a:hover{
  color: #FFFFFF;
}
header{
  height: 40px;
  width: 100%;
  margin: auto;
  background-color: #900000;
  color: #F2F2F2;
  text-align: center;
  border-bottom: 1px solid #212121;
  outline: 1px solid #777777;
}
#logo{
  margin: 0;
  float: left;
  margin-left: 25%;
}
#menu{
  line-height: 44px;
  height:100%;
  text-align: left;
  margin-top: 0px;
}
#menu a{
  color:#F1F1F1;
  text-decoration: none;
}
#menu a:hover{
  color: #FFFFFF;
}
#menuitems{
  display: block;
  margin-top: 0px;
}
#menuitems li{
  display: inline-block;
  margin: 0 30px 10px 0;
}
#sub-header{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 24pt;
  margin-top: 40px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;
  text-shadow: 0px 1px #FFFFFF;
}
#main{
  background-color: #3d3d3d;
  color: #FEFEFE;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0px;
  padding-left: 30px;
  width: 50%;
  border: 2px solid white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}
#first{
  font-weight: bold;
  margin-bottom: 0px;
}
#sub{
  margin-top:5px;
  font-size: 15px;
}
.field { 
  overflow: auto;
  margin-bottom: 10px;
}

.field .label {
  float: left;
  width: 180px;
}
.submit{
  margin-left: 30%;
  margin-bottom: 10px;
}
em{
  font-size: 12px;
}
#blogs{
  margin: 0 auto;
  color:white;
  width: 60%;
  background-color: #3d3d3d;
  border: 2px solid white;
  border-top: 0;
  box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}
#blogs h1{
  margin-top: 0;
  font-size: 28px;
  padding: 10px;
  padding-bottom: 0;
  letter-spacing: 2px;
}
#blogs em{
  margin-top: 0;
  font-size: 18px;
  padding: 10px;
  padding-bottom: 0;
}
#blogs ul{
  display: block;
  padding: 0;
  border-top: 2px solid white;
}
#blogs li{
  padding-left: 5px;
  background: #A7A7A7;
  display: block;
  height: 50px;
  border-bottom: 2px solid white;
  line-height: 50px;
}
article > header{
  background-color: white;
  color: black;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  text-align: right;
  height: 20px;
}
article > header p{
  line-height: 17px;
  padding-top: 0px;
  margin-top: 5px;
  margin-right: 5px;
}
article > p{
  margin-left: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
}
ul#attach{
  margin: 0;
  display: inline;
  border: 0;
}
ul#attach > li{
  font-size: 18px;
  background: none;
  border: 0;
  display: inline;
  height: 30px;
  list-style-type: square;
  margin: 0;
  padding-left: 9px;
  line-height: 30px;
}
ul#attach > li > a{
  color: #EFEFEF;
}
ul#attach > li > a:hover{
  color: white;
}
#attachp{
  font-size: 20px;
}
article > section > h1{
  margin-bottom: 2px;
}
.comments header{
  background-color: #B3B3B3;
}
.comments > h3{
  display: inline-block;
}
.comments header p{
  line-height: 10px;
  font-size: 18px;
}
.comment{
  margin-top: 2px;
}
.addcomm{
  font-size: 16px;
  color: white;
  display: inline-block;
  margin-right: 10px;
}
.addcomm:hover{
  color: #B00000;
}

.alignleft {
  float: left;
  width: 32%;
  text-align:left;
}
.aligncenter {
  float: left;
  width: 33%;
  text-align:center;
}
.alignright {
  width: 33%;
 float: left;
 text-align:right;
}​
@media screen and (max-width: 800px) {
  #menu{
    visibility: hidden;
  }
}